.page-login {
  background: rgba(0, 0, 0, .35);
  background: url('../../assets/image/bgMountain1031465@2x.png') no-repeat center;
  background-size: cover;
  color: white;
  .logo {
    &--big {
      margin-top: 20%;
    }
  }
  .tag {
    margin-top: 5%;
    line-height: 1.5em;
    padding: 5px 55px;
  }
  .button {
    &.button-green {
      width: 250px;
      margin: 0px auto;
      left: 0;
      right: 0;
    }
  }
}
