.page-home {
  color: white;
  background: rgb(238, 238, 238);

  .toolbar-background {
    background-color: $green !important;
  }

  .heading {
    background-color: $green;
    padding: 25px !important;
    height: 260px;

    h3 {
      text-align: center;
      @include vertical-align();
    }

    .heading-subtitle {
      position: absolute;
      bottom: 0;
      left: 16px;
      font-size: 12px;
      opacity: .6;
    }
  }

  .objective {
    position: relative;
    min-height: 150px;
    background-color: black;
    background-image: url("../../assets/image/objectives/familia@2x.png");
    background-size: cover;

    &__title {
      text-align: center;
      @include vertical-align();
    }
  }

  #familia {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
      url("../../assets/image/objectives/familia@3x.png");
    background-size: cover;
  }

  #universitat {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
      url("../../assets/image/objectives/universitat@3x.png");
    background-size: cover;
  }

  #job {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
      url("../../assets/image/objectives/job@3x.png");
    background-size: cover;
  }

  ion-card {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 5px;
    min-height: 150px;
  }

  .card-title {
    position: absolute;
    top: 43%;
    font-size: 1.4em;
    width: 100%;
    color: #fff;
  }
}
